[user]
	name = SoftwareBlair
	email = br@ndon.dev
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
